{% extends "base.html" %} {% block content %} {% load custom_filter %}
<!-- Modal -->
<div class="modal fade" id="edit_device" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit_device_title"></h4><small id="edit_device_mtitle"></small>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_base_config" data-toggle="tab" id="a_default_conf">设备信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_base_config">
                            <form class="form-horizontal" id="form_base_config">
                                <input type="text" name="device_id" id="input_device_id" hidden>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">名称</label>
                                    <div class="col-sm-9" id="div_device_name">
                                        <input type="text" class="form-control" name="device_name" id="input_device_name" placeholder="请填写设备名称" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">生产商</label>
                                    <div class="col-sm-9" id="div_device_vendor">
                                        <input type="text" class="form-control" name="device_vendor" id="input_device_vendor" placeholder="请填写设备厂商" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备类型</label>
                                    <div class="col-sm-9" id="div_device_type">
                                        <input type="text" class="form-control" name="device_type" id="input_device_tpye" placeholder="请填写设备类型" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备型号</label>
                                    <div class="col-sm-9" id="div_device_model">
                                        <input type="text" class="form-control" name="device_model" id="input_device_model" placeholder="请填写设备型号" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">配置信息</label>
                                    <div class="col-sm-9" id="div_device_parameters">
                                        <input type="text" class="form-control" name="device_parameters" id="input_device_parameters" placeholder="请填写设备配置信息" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">机柜id</label>
                                    <div class="col-sm-9" id="div_device_stack_id">
                                        <input type="text" class="form-control" name="device_stack_id" id="input_device_stack_id" placeholder="请填写设备机柜ID" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">位置</label>
                                    <div class="col-sm-9" id="div_device_position">
                                        <input type="text" class="form-control" name="device_position" id="input_device_position" placeholder="请填写设备位置" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">宿主机id</label>
                                    <div class="col-sm-9" id="div_device_host_device_id">
                                        <input type="text" class="form-control" name="device_host_device_id" id="input_device_host_device_id" placeholder="请填写设备宿主机ID" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">高度</label>
                                    <div class="col-sm-9" id="div_device_height">
                                        <input type="text" class="form-control" name="device_height" id="input_device_height" placeholder="请填写设备高度" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">上联设备</label>
                                    <div class="col-sm-9" id="div_uplink_device">
                                        <input type="text" class="form-control" name="device_uplink_device" id="input_device_uplink_device" placeholder="请填写上联设备名称" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">上联端口</label>
                                    <div class="col-sm-9" id="div_uplink_port">
                                        <input type="text" class="form-control" name="device_uplink_port" id="input_uplink_port" placeholder="请填写上联设备端口" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">服务到期时间</label>
                                    <div class="col-sm-9" id="div_service_time">
                                        <input type="text" class="form-control" name="device_service_time" id="input_device_service_time" placeholder="设备服务到期时间" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">IP地址</label>
                                    <div class="col-sm-9" id="div_ip">
                                        <input type="text" class="form-control" name="device_ip" id="input_device_ip" placeholder="请填写设备ip地址" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">MAC地址</label>
                                    <div class="col-sm-9" id="div_mac">
                                        <input type="text" class="form-control" name="device_mac" id="input_device_mac" placeholder="请填写设备MAC地址" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">序列号</label>
                                    <div class="col-sm-9" id="div_serial_no">
                                        <input type="text" class="form-control" name="device_serial_no" id="input_device_serial_no" placeholder="请填写设备序列号" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <span class="control-label pull-right">
                                            <small>物理设备基础信息（* 为可选项）</small>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save_device()">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <button type="button" class="btn btn-primary pull-left" onclick="edit_device(1,0)">添加物理设备</button>
                <div class="input-group pull-right" style="width: 350px;">
                    <input type="text" name="device_filter" id="input_device_filter" class="form-control pull-right"
                           placeholder="输入设备名称|类型|型号|序列号|IP" autofocus="" onkeydown='if(event.keyCode===13){device_filter()}'>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="device_filter()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>生产商</th>
                            <th>设备类型</th>
                            <th>设备型号</th>
                            <th>配置信息</th>
                            <th>机柜id</th>
                            <th>位置</th>
                            <th>宿主机id</th>
                            <th>高度</th>
                            <th>上联设备</th>
                            <th>上联端口</th>
                            <th>服务到期时间</th>
                            <th>IP地址</th>
                            <th>MAC地址</th>
                            <th>序列号</th>
                            <th>创建时间</th>
                            <th>最后修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in device %}
                        <tr>
                            <td >
                                {{ item.device_name }}
                            </td>
                            <td>
                                {{ item.vendor }}
                            </td>
                            <td>
                                {{ item.device_type }}
                            </td>
                            <td>
                                {{ item.model}}
                            </td>
                            <td>
                                {{ item.parameters }}
                            </td>
                            <td>
                                {{ item.stack_id }}
                            </td>
                            <td>
                                {{ item.position }}
                            </td>
                            <td>
                                {{ item.host_device_id }}
                            </td>
                            <td>
                                {{ item.height }}
                            </td>
                            <td>
                                {{ item.uplink_device }}
                            </td>
                            <td>
                                {{ item.uplink_port }}
                            </td>
                            <td>
                                {{ item.service_time | date:"Y-m-d"}}
                            </td>
                            <td>
                                {{ item.ip }}
                            </td>
                            <td>
                                {{ item.mac }}
                            </td>
                            <td>
                                {{ item.serial_no }}
                            </td>
                            <td>
                                {{ item.create_time | date:"Y-m-d H:i:s" }}
                            </td>
                            <td>
                                {{ item.update_time | date:"Y-m-d H:i:s" }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" onclick="edit_device(0, '{{ item.pk }}')">修改</button>
                                <button type="button" class="btn btn-danger btn-xs" onclick="delete_device('{{ item.pk }}','{{ item.idc_name }}')">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if device.has_previous %}
                    <li><a href="?page={{ device.previous_page_number }}&filter={{ filter }}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
                    {% else %}
                    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
                    {% endif %} {% if device.has_next %}
                    <li><a href="?page={{ device.next_page_number }}&filter={{ filter }}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
                    {% else %}
                    <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
                    {% endif %}
                    <li class="paginate_button previous disabled">
                        <span>第 {{ device.number }} 页 - 共 {{ device.paginator.num_pages }} 页</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
$('#menu_cmdb_device').addClass('active')
$('#page_header').text('物理设备管理')
$('#page_header_descript').text('用于管理物理设备相关信息')
$('#page_nav').text('CMDB')
$('#page_name').text('物理设备')

function device_filter() {
    window.location = '/cmdb/device/?filter=' + $('#input_device_filter').val()
}

function save_device() {
        var base_config = $('#form_base_config').serializeObject();
        var post = {'base_config': base_config};
        $.ajax({
            type: 'POST',
            url: '/cmdb/device/save/',
            data: JSON.stringify(post),
            dataType: 'JSON',
            success: function(p) {
                if (p.flag == "Success") {
                    alert("保存成功,JSON数据: " + JSON.stringify(post));
                    top.location = '/cmdb/device/'
                }else if (p.flag == "Error"){
                    alert("保存失败，请检查数据,错误信息: " + p.context)
                }
            },
            error: function () {
                alert("error!");
            }
        })
}

function delete_device(pk, name) {
    if (confirm("确认删除[" + pk + name + "]？")) {
        var post = {
            pk: pk
        };
        $.ajax({
            type: 'post',
            url: '/cmdb/device/delete/',
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    alert("删除成功!")
                    top.location = '/cmdb/device/'
                } else if (p.flag == "Error" && p.context == "AuthFailed") {
                    alert('认证失败！请重新登录！')
                    top.location = '/login/'
                } else {
                    alert('删除错误！' + p.context)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function edit_device(create, pk) {
    $('#a_default_conf').trigger('click');
    if (create == 1) {
        $('#edit_device_title').text('添加物理设备');
        $('#edit_device_mtitle').text('');
        $('#input_device_name').val('');
        $('#input_device_vendor').val('');
        $('#input_device_tpye').val('');
        $('#input_device_model').val('');
        $('#input_device_parameters').val('');
        $('#input_device_stack_id').val('');
        $('#input_device_position').val('');
        $('#input_device_host_device_id').val('');
        $('#input_device_height').val('');
        $('#input_device_uplink_device').val('');
        $('#input_uplink_port').val('');
        $('#input_device_service_time').val('');
        $('#input_device_ip').val('');
        $('#input_device_mac').val('');
        $('#input_device_serial_no').val('');
        $('#input').empty();
        $("[data-mask]").inputmask();
        $('#edit_device').modal('show')
    } else {
        var post = {pk: pk};
        $.ajax({
            type: 'post',
            url: '/cmdb/device/query/',
            data: JSON.stringify(post),
            dataType: "json",
            success: function(p) {
                if (p.flag == "Success") {
                    $('#edit_idc_title').text('编辑物理设备');
                    $('#edit_idc_mtitle').text('正在编辑的物理设备：' + p.context.db_idc.idc_name);
                    $('#input_idc_id').val(pk);
                    $('#input_device_name').val('');
                    $('#input_device_vendor').val('');
                    $('#input_device_tpye').val('');
                    $('#input_device_model').val('');
                    $('#input_device_parameters').val('');
                    $('#input_device_stack_id').val('');
                    $('#input_device_position').val('');
                    $('#input_device_host_device_id').val('');
                    $('#input_device_height').val('');
                    $('#input_device_uplink_device').val('');
                    $('#input_uplink_port').val('');
                    $('#input_device_service_time').val('');
                    $('#input_device_ip').val('');
                    $('#input_device_mac').val('');
                    $('#input_device_serial_no').val('');
                    
                    $('#edit_idc').modal('show')
                } else if (p.flag == "Error" && p.context == "AuthFailed") {
                    alert('认证失败！请重新登录！');
                    top.location = '/login/'
                } else {
                    alert('查询失败！' + p.context)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

</script>
{% endblock %}
