{% extends "base.html" %} {% block content %} {% load custom_filter %}
<!-- Modal -->
<div class="modal fade" id="edit_device" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit_device_title"></h4><small id="edit_device_mtitle"></small>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_base_config" data-toggle="tab" id="a_default_conf">设备信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_base_config">
                            <form class="form-horizontal" id="form_base_config">
                                <input type="text" name="device_id" id="input_device_id" hidden>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">名称</label>
                                    <div class="col-sm-9" id="div_device_name">
                                        <input type="text" class="form-control" name="device_name" id="input_device_name" placeholder="请填写设备名称" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">类型</label>
                                    <div class="col-sm-9" id="div_listen">
                                        <input type="text" class="form-control" name="device_type" id="input_device_type" placeholder="设备类型（服务器|网络设备|存储|其他）" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">坐落地址</label>
                                    <div class="col-sm-9" id="div_device_address">
                                        <input type="text" class="form-control" name="device_address" id="input_device_address" placeholder="请填写数据中心的坐落地址（公有云请填写服务商域名）" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">到期时间</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="device_service_time" id="input_device_service_time" placeholder="请填写数据中心本期合同的到期日期" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">数据中心联系电话</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="device_contact" id="input_device_contact" placeholder="请填写数据中心技术维护24小时联系电话" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">机柜资源</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="device_racks" id="input_device_racks" placeholder="请填写数据中心已租用的机柜编码,多个机柜可以用','号隔开" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">带宽资源</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="device_bandwidth" id="input_device_bandwidth" placeholder="请填写数据中心已租用网络带宽(单位M或G)" onblur="check_form(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">* 描述</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="4" name="device_description" id="input_device_description" placeholder="此负载均衡详细描述"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <span class="control-label pull-right">
                                            <small>数据中心基础信息（* 为可选项）</small>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save_device()">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <button type="button" class="btn btn-primary pull-left" onclick="edit_device(1)">添加物理设备</button>
                <div class="input-group pull-right" style="width: 350px;">
                    <input type="text" name="device_filter" id="input_device_filter" class="form-control pull-right" placeholder="输入设备名称|类型|型号|序列号|IP" autofocus="" onkeydown='if(event.keyCode===13){device_filter()}'>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="device_filter()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>生产商</th>
                            <th>设备类型</th>
                            <th>设备型号</th>
                            <th>配置信息</th>
                            <th>机柜id</th>
                            <th>位置</th>
                            <th>宿主机id</th>
                            <th>高度</th>
                            <th>上联设备</th>
                            <th>上联端口</th>
                            <th>服务到期时间</th>
                            <th>IP地址</th>
                            <th>MAC地址</th>
                            <th>序列号</th>
                            <th>创建时间</th>
                            <th>最后修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in device %}
                        <tr>
                            <td >
                                {{ item.device_name }}
                            </td>
                            <td>
                                {{ item.vendor }}
                            </td>
                            <td>
                                {{ item.device_type }}
                            </td>
                            <td>
                                {{ item.model}}
                            </td>
                            <td>
                                {{ item.parameters }}
                            </td>
                            <td>
                                {{ item.stack_id }}
                            </td>
                            <td>
                                {{ item.position }}
                            </td>
                            <td>
                                {{ item.host_device_id }}
                            </td>
                            <td>
                                {{ item.height }}
                            </td>
                            <td>
                                {{ item.uplink_device }}
                            </td>
                            <td>
                                {{ item.uplink_port }}
                            </td>
                            <td>
                                {{ item.service_time }}
                            </td>
                            <td>
                                {{ item.ip }}
                            </td>
                            <td>
                                {{ item.mac }}
                            </td>
                            <td>
                                {{ item.serial_no }}
                            </td>
                            <td>
                                {{ item.create_time }}
                            </td>
                            <td>
                                {{ item.update_time }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if device.has_previous %}
                    <li><a href="?page={{ device.previous_page_number }}&filter={{ filter }}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
                    {% else %}
                    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
                    {% endif %} {% if device.has_next %}
                    <li><a href="?page={{ device.next_page_number }}&filter={{ filter }}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
                    {% else %}
                    <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
                    {% endif %}
                    <li class="paginate_button previous disabled">
                        <span>第 {{ device.number }} 页 - 共 {{ device.paginator.num_pages }} 页</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
$('#menu_cmdb_device').addClass('active')
$('#page_header').text('物理设备管理')
$('#page_header_descript').text('用于管理物理设备相关信息')
$('#page_nav').text('CMDB')
$('#page_name').text('物理设备')

function check_form(input) {
    var input_div = $(input.closest("div"))
    input_div.removeClass('has-error')
    input_div.removeClass('has-success')
    if (($(input).val() == "") || ($(input).attr('name') == "proxy_listen" && !$(input).val().indexOf("8000"))) {
        input_div.addClass('has-error')
    } else {
        input_div.addClass('has-success')
    }
}

function edit_device(create, device_id) {
    $('#a_default_conf').trigger('click')
    if (create == 1) {
        $('#edit_device_title').text('创建物理设备')
        $('#edit_device_mtitle').text('')
        $('#input_proxy_device_id').val('0')
        $('#input_proxy_proxy_name').val('')
        $('#input_proxy_listen').val('')
        $('#input_proxy_server_name').val('')
        $('#input_proxy_access_log').val('')
        $('#input_proxy_error_log').val('')
        $('#check_proxy_ip_hash').attr('checked', false)
        $('#check_proxy_http_check').attr('checked', false)
        $('#div_upstream_list').empty()
        $("[data-mask]").inputmask()
        $('#edit_device').modal('show')
    } else {
        var post = {
            device_id: device_id
        }
        jQuery.ajax({
            type: 'post',
            url: '/proxy/query/',
            data: JSON.stringify(post),
            dataType: "json",
            success: function(p) {
                if (p.flag == "Success") {
                    $('#edit_device_title').text('编辑数据中心')
                    $('#edit_device_mtitle').text(device_id)
                    $('#input_proxy_device_id').val(device_id)
                    $('#div_upstream_list').empty()

                    $('#input_proxy_proxy_name').val(p.context.proxy.proxy_name)
                    $('#input_proxy_listen').val(p.context.proxy.listen)
                    $('#input_proxy_server_name').val(p.context.proxy.server_name)
                    $('#input_proxy_access_log').val(p.context.proxy.access_log)
                    $('#input_proxy_error_log').val(p.context.proxy.error_log)
                    $('#input_proxy_description').text(p.context.proxy.description)
                    $('#edit_device').modal('show')
                } else if (p.flag == "Error" && p.context == "AuthFailed") {
                    alert('认证失败！请重新登录！')
                    top.location = '/login/'
                } else {
                    alert('查询失败！' + p.context)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function delete_device(pk, name) {
    if (confirm("确认删除[" + name + "]？")) {
        var post = {
            pk: pk
        }
        jQuery.ajax({
            type: 'post',
            url: '/proxy/delete/',
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    alert("删除成功!")
                    top.location = '/proxy/'
                } else if (p.flag == "Error" && p.context == "AuthFailed") {
                    alert('认证失败！请重新登录！')
                    top.location = '/login/'
                } else {
                    alert('删除错误！' + p.context)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function device_filter() {
    window.location = '/cmdb/device/?filter=' + $('#input_device_filter').val()
}

function save_device() {
    if (confirm("确认要保存这样的配置？")) {
        var base_config = $('#form_base_config').serializeObject()
        var ssl_config = $('#form_ssl_config').serializeObject()
        var upstream_list = []
        $('#div_upstream_list form').each(function() {
            upstream_list.push($(this).serializeObject())
        })
        var post = {
            'base_config': base_config,
            'ssl_config': ssl_config,
            'upstream_list': upstream_list
        }

        jQuery.ajax({
            type: 'post',
            url: '/proxy/save/',
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    alert("保存成功!")
                    top.location = '/proxy/'
                } else if (p.flag == "Error" && p.context == "ArgsError") {
                    alert('保存失败！配置项填写错误！')
                } else if (p.flag == "Error" && p.context == "NicError") {
                    alert('保存失败！内网网卡选择错误！')
                } else if (p.flag == "Error" && p.context == "AuthFailed") {
                    alert('认证失败！请重新登录！')
                    top.location = '/login/'
                } else {
                    alert('保存错误！其他错误：' + p.context)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }

}
</script>
{% endblock %}
